<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>air fresher</title>

	<!-- mobile device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/transformation.css"/>
	<link rel="stylesheet" href="css/loadinig.css"/>
	<link rel="stylesheet" href="css/popup.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- libs -->
	<script src="js/lib/shim.js" type="text/javascript"></script>
	<script src="js/lib/underscore.js" type="text/javascript"></script>
	<script src="js/lib/jquery-2.1.1.js" type="text/javascript"></script>
	<script src="js/lib/jquery.mobile-1.4.4.js" type="text/javascript"></script>
	<script src="js/lib/backbone.js" type="text/javascript"></script>

	<!-- langs -->
	<script src="js/lang/en.js" type="text/javascript"></script>
	<script src="js/lang/ru.js" type="text/javascript"></script>

	<!-- services -->
	<script src="js/service/info.js" type="text/javascript"></script>
	<script src="js/service/template-master.js" type="text/javascript"></script>
	<script src="js/service/util.js" type="text/javascript"></script>

	<!-- views -->
	<script src="js/app/view/base/base-view.js" type="text/javascript"></script>
	<script src="js/app/view/title/title-view.js" type="text/javascript"></script>
	<script src="js/app/view/air-fresh/air-fresh-view.js" type="text/javascript"></script>
	<script src="js/app/view/how-it-works/how-it-works.js" type="text/javascript"></script>
	<script src="js/app/view/privacy-policy/privacy-policy.js" type="text/javascript"></script>
	<script src="js/app/view/popup/popup-view.js" type="text/javascript"></script>


	<script src="js/app/main.js" type="text/javascript"></script>

</head>
<body>

<div class="js-wrapper wrapper">

</div>

<script type="text/x-template" data-name="title">

	<div class="js-title title-view">

		<div class="flags-wrapper">

			<% APP.info.availableLangs.forEach(function(lang){ %>

			<% if (lang === APP.info.lang) { %>
				<div class="js-set-lang active flag flag-<%= lang %>" data-lang="<%= lang %>">&nbsp;</div>
			<% } else { %>
				<div class="js-set-lang disable flag flag-<%= lang %>" data-lang="<%= lang %>">&nbsp;</div>
			<% }; %>

			<% }); %>

		</div>

		<div class="table table-button-wrapper">
			<div class="table-row">
				<div class="table-cell">
					<div class="main-button" data-route="air-fresh"><%= APP.langMaster.freshAir %></div>
					<div class="main-button" data-route="how-it-works"><%= APP.langMaster.howItWorks %></div>
					<div class="main-button" data-route="privacy-policy"><%= APP.langMaster.privacyPolicy %></div>
				</div>
			</div>
		</div>

		<div class="copyright">&copy; statlex.com 2014 </div>

	</div>

</script>

<script type="text/x-template" data-name="air-fresh">

	<div class="js-air-fresh air-fresh-view">

		<div class="windows8 getting-air-data js-getting-air-data">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall">
					&nbsp;
				</div>
			</div>
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall">
					&nbsp;
				</div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall">
					&nbsp;
				</div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall">
					&nbsp;
				</div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall">
					&nbsp;
				</div>
			</div>

			<div class="getting-data-word"><%= APP.langMaster.dataCollection %></div>

		</div>

		<div class="clearing-line-wrapper js-clearing-line-wrapper hidden">
			<div class="clearing-line js-clearing-line">&nbsp;</div>
			<div class="clearing-word"><%= APP.langMaster.clearing %></div>
		</div>

		<div class="back-button js-back">&nbsp;</div>


	</div>

</script>

<script type="text/x-template" data-name="how-it-works">

	<div class="js-how-it-works">
		<h1>js-how-it-works</h1>
		<div class="js-back">back</div>
	</div>

</script>

<script type="text/x-template" data-name="privacy-policy">

	<div class="js-privacy-policy">
		<h1>js-privacy-policy</h1>
		<div class="js-back">back</div>
	</div>

</script>



<script type="text/x-template" data-name="popup">

	<div class="js-popup-wrapper popup-wrapper">

		<div class="table popup-wrapper-table js-back">

			<div class="table-row">
				<div class="table-cell">

					<div class="popup-container js-popup-container">

						<div class="popup-text"><%= text %></div>
						<div class="js-back popup-close"> &nbsp; </div>
						<div class="js-back popup-button">ok</div>

					</div>

				</div>
			</div>

		</div>


	</div>

</script>



</body>
</html>