<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>air fresher</title>

	<!-- mobile device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/transformation.css"/>

	<!-- libs -->
	<script src="js/lib/shim.js" type="text/javascript"></script>
	<script src="js/lib/underscore.js" type="text/javascript"></script>
	<script src="js/lib/jquery-2.1.1.js" type="text/javascript"></script>
	<script src="js/lib/jquery.mobile-1.4.4.js" type="text/javascript"></script>
	<script src="js/lib/backbone.js" type="text/javascript"></script>

	<!-- langs -->
	<script src="js/lang/en.js" type="text/javascript"></script>
	<script src="js/lang/ru.js" type="text/javascript"></script>

	<!-- services -->
	<script src="js/service/info.js" type="text/javascript"></script>
	<script src="js/service/template-master.js" type="text/javascript"></script>
	<script src="js/service/util.js" type="text/javascript"></script>

	<!-- views -->
	<script src="js/app/view/base/base-view.js" type="text/javascript"></script>
	<script src="js/app/view/title/title-view.js" type="text/javascript"></script>
	<script src="js/app/view/air-fresh/air-fresh-view.js" type="text/javascript"></script>
	<script src="js/app/view/how-it-works/how-it-works.js" type="text/javascript"></script>
	<script src="js/app/view/privacy-policy/privacy-policy.js" type="text/javascript"></script>


	<script src="js/app/main.js" type="text/javascript"></script>

</head>
<body>

<div class="js-wrapper wrapper">

</div>

<script type="text/x-template" data-name="title">

	<div class="js-title">

		<div>

			<% APP.info.availableLangs.forEach(function(lang){ %>

			<% if (lang === APP.info.lang) { %>
				<div class="js-set-lang active" data-lang="<%= lang %>"><%= lang %></div>
			<% } else { %>
				<div class="js-set-lang" data-lang="<%= lang %>"><%= lang %></div>
			<% }; %>

			<% }); %>

		</div>

		<div data-route="air-fresh"><%= APP.langMaster.freshAir %> <span>000</span> </div>
		<div data-route="how-it-works"><%= APP.langMaster.howItWorks %></div>
		<div data-route="privacy-policy"><%= APP.langMaster.privacyPolicy %></div>
	</div>

</script>

<script type="text/x-template" data-name="air-fresh">

	<div class="js-air-fresh">
		<h1>airFresh</h1>
		<div class="js-back">back</div>
	</div>

</script>

<script type="text/x-template" data-name="how-it-works">

	<div class="js-how-it-works">
		<h1>js-how-it-works</h1>
		<div class="js-back">back</div>
	</div>

</script>

<script type="text/x-template" data-name="privacy-policy">

	<div class="js-privacy-policy">
		<h1>js-privacy-policy</h1>
		<div class="js-back">back</div>
	</div>

</script>



</body>
</html>