.game-wrapper {
	background-color: #ccc;
	font-family: "Courier New", Courier, monospace;
}

.game-wrapper div {
	float: left;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.game-wrapper {
	/*width: 140px;*/
}

.game-wrapper i,
.game-wrapper em,
.game-wrapper b {
	display: block;
	/*width: 20px;*/
	/*height: 20px;*/
	background-color: #c00;
	float: left;
}

.game-wrapper b {
	background-color: #0c0;
}

.game-wrapper em {
	background-color: #444;
}