<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Test report</title>

	<link rel="stylesheet" href="./../../util/report.css"/>

</head>
<body>

<div class="wrapper">

	<h1 class="main-header">Test report: <%= data.timeStart.toLocaleDateString() %> [<%= data.timeStart.toLocaleTimeString() %>]</h1>

	<p class="paragraph">args: <%= data.args.join(', ') %></p>

	<table class="main-table">

		<thead>

		<tr class="tr-head">
			<th><p class="paragraph bold center">name</p></th>
			<th><p class="paragraph bold center">status</p></th>
			<th><p class="paragraph bold center">time</p></th>
			<th><p class="paragraph bold center">log</p></th>
		</tr>

		</thead>

		<tbody>
		<% items.forEach(function(test){ %>
		<tr class="tr-body">

			<!-- test item info -->
			<td>

				<p class="paragraph">
					<%= test.data.testInfo.name %><br/>
					<%= test.data.testFileName %><br/>
					<%= test.data.testInfo.description %>
				</p>
			</td>

			<!-- test item status -->
			<td>
				<p class="paragraph">
				<% if ( test.data.result === test.results.passed ) { %>
					<span class="result-label result-label-green">Passed</span>
				<% }; %>

				<% if ( test.data.result === test.results.failed ) { %>
					<span class="result-label result-label-red">Failed</span>
				<% }; %>
				</p>
			</td>

			<!-- test item time -->
			<td>
				<% if (test.data.timeStart) { %>
				<div class="with-50">
					<p class="paragraph">
						begin:<br/>
						end:<br/>
						duration:&nbsp;
					</p>
				</div>
				<div class="with-50">
					<p class="paragraph">
						<%= test.data.timeStart.toLocaleTimeString() %><br/>
						<%= test.data.timeEnd.toLocaleTimeString() %><br/>
						<%= new Date( test.data.timeEnd.getTime() - test.data.timeStart.getTime() + test.data.timeStart.getTimezoneOffset() * 60 * 1000 ).toLocaleTimeString() %>
					</p>
				</div>
				<% }; %>
			</td>

			<!-- test item log -->
			<td>
				<% test.items.forEach(function(item){ %>

				<% if ( item.type === 'text' ) { %>
				<p class="paragraph"><%= item.text %></p>
				<% }; %>

				<% if ( item.type === 'image' ) { %>

				<img class="image" src="<%= item.src %>" alt="<%= item.label %>" title="<%= item.label %>"/>

				<% if (item.label) { %>
				<p class="paragraph"><%= item.label %></p>
				<% }; %>

				<% }; %>

				<% }); %>

			</td>


		</tr>

		<% }); %>

		</tbody>


	</table>

</div>

</body>
</html>