@import url(reset.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer,
header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video,
.clear {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-o-user-select: auto;
	user-select: auto;

}

.wrapper {
	padding: 45px;
	max-width: 980px;
	margin: 0 auto;
	background-color: #eee;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	border: 20px solid white;
	line-height: 1.15;
}

.main-header {
	font-weight: normal;
	font-size: 32px;
	padding-bottom: 11px;
}

.paragraph {
	font-size: 16px;
	padding-bottom: 16px;
}

.image {
	display: block;
	padding-bottom: 16px;
	width: 100%;
	height: auto;
}

.main-table {
	margin-top: 16px;
	width: 100%;
}

.main-table th,
.main-table td {
	padding: 0 16px;
	vertical-align: top;
}

.main-table td {
	padding-top: 8px;
	padding-bottom: 8px;
}

.tr-head {
	padding-top: 16px;
	border-bottom: 2px solid #333;
}

.tr-body {
	border-bottom: 1px solid #333;
}

.result-label {
	padding: 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
	display: block;
}

.result-label-green {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.result-label-red {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.with-50 {
	float: left;
	width: 50%;
}






















