<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Test report</title>

	<link rel="stylesheet" href="http://reset5.googlecode.com/hg/reset.min.css"/>

	<style type="text/css">


	</style>

</head>
<body>

<div class="wrapper">

	<h1>Test report from <%= data.timeStart %></h1>

	<p>args: <%= data.args.join(', ') %></p>

	<table>

		<thead>

			<tr>
				<th>name</th>
				<th>status</th>
				<th>time</th>
				<th>log</th>
			</tr>

		</thead>

		<tbody>
		<% items.forEach(function(test){ %>
		<tr>

			<!-- test item info -->
			<td>
				<%= test.data.testInfo.name %>
				<hr/>
				<%= test.data.testFileName %>
				<%= test.data.testInfo.description %>
			</td>

			<!-- test item status -->
			<td>
				<%= test.data.result %>
			</td>

			<!-- test item time -->
			<td>
				begin: <%= test.data.timeStart %> <br/>
				end: <%= test.data.timeEnd %>
			</td>

			<!-- test item log -->
			<td>
				<% test.items.forEach(function(item){ %>

				<% if ( item.type === 'text' ) { %>
				<p><%= item.text %></p>
				<% }; %>

				<% if ( item.type === 'image' ) { %>

				<img src="<%= item.src %>" alt="<%= item.label %>" title="<%= item.label %>"/>

				<% if (item.label) { %>
				<p><%= item.label %></p>
				<% }; %>

				<% }; %>

				<% }); %>

			</td>



		</tr>

		<% }); %>

		</tbody>


	</table>

</div>

</body>
</html>