
*.xcuserstate

*.pbxproj

.idea

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcworkspacedata

*.xcworkspacedata

*.xcscheme

KdGameTangram/ios/tangramNative/Tangram/Tangram.xcodeproj/xcuserdata/sychypav.xcuserdatad/xcschemes/Tangram.xcscheme

*.xccheckout

*.xcsettings

*.pch

*.xcbkptlist

*.xcuserstate

*.xcuserstate

KidGame/resources/sound/alphabets/de/ö.mp3

KidGame/resources/sound/alphabets/de/ü.mp3

KidGame/resources/sound/alphabets/es/ñ.mp3

KidGame/resources/sound/alphabets/ru/ё.mp3

KidGame/resources/sound/alphabets/ru/й.mp3

*.class

# Package Files #
*.jar
*.war
*.ear

# Mac files #
.DS_store

# Android files #

*.apk
*.dex
*.ap_
gen/

# Database files #
*.bak

# Eclipse/Idea files #
.project
.metadata/
.classpath
.settings/
target/
bin/
test-output/
*.ldb
.idea/
*.iml
*.ipr
*.ids
*.iws
*.svn/
*.log
