
*.xcuserstate

*.pbxproj

.idea

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcworkspacedata

*.xcworkspacedata

*.xcscheme

KdGameTangram/ios/tangramNative/Tangram/Tangram.xcodeproj/xcuserdata/sychypav.xcuserdatad/xcschemes/Tangram.xcscheme

*.xccheckout

*.xcsettings

*.pch

*.xcbkptlist

*.xcuserstate

*.xcuserstate
