.store-wrapper {
	position: fixed;
	top: 2.4em;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	z-index: 1;
	overflow-y: auto;
}

.unit-card {
	float: left;
	padding: 3px;
}

.buy-unit {
	background-color: #c00;
}

.buy-unit.active {
	background-color: #fff;
}

.store-wrapper button {
	padding: 3px;
}

.store-units-wrapper {
	padding-bottom: 5.4em; /* 2.4 + 3.0 */
}
