.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	color: #f0f0f0;
}

.event-handler,
.units-layer,
.objects-layer,
.available-path-layer,
.background-layer,
.buildings-layer,
.background-layer-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	left: 0;
	top: 0;
}

.layers-wrapper {
	position: relative;
	background-image: url(../i/bg-map.jpg);
	overflow: hidden;
	padding: 6em;  /* see previous styles */
}

.layers-moving-wrapper {
	overflow: auto;
	background-color: #060;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.battle-screen {
	overflow: auto;
	z-index: 0;
	position: relative;
	height: 100%;
}

.event-handler {
	z-index: 6;
}

.units-layer {
	z-index: 5;
}

.objects-layer {
	z-index: 3;
}

.available-path-layer {
	z-index: 2;
}

.buildings-layer {
	z-index: 1;
}

.background-layer {
	z-index: 0;
}

.background-layer-canvas {

}

.square-line {
	width: 100%;
	clear: both;
}

.square {
	box-sizing: border-box;
	float: left;
}

.square {

}


.available-path-square {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	border-radius: 7px;
	border: none;
}

.available-path-square[data-color="red"] {
	background-color: rgba(255, 127, 127, 0.5);
}

.available-path-square[data-color="blue"] {
	background-color: rgba(127, 127, 255, 0.5);
}

.can-get-building {
	position: relative;
}

.can-get-building:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
	margin-top: -2px;
	margin-left: -2px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	border: 2px solid #FFF;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #000;
}

.can-get-building[data-building-type="farm"]:after {
	background-image: url(../img/build/farm.png);
}

.can-get-building[data-building-type="castle"]:after {
	background-image: url(../img/build/castle-getting.png);
}

.can-get-building[data-building-color="red"]:after {
	background-position: 0 50%;
}

.can-get-building[data-building-color="blue"]:after {
	background-position: 0 100%;
}

.status-bar,
.status-bar-add-info-wrapper {
	position: fixed;
	width: 100%;
	height: 2.4em;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 1;
	text-shadow: 0.1em 0.1em 0 #000;
}

.status-bar-add-info-wrapper {
	top: auto;
	bottom: 0;
	background-color: transparent;
	width: auto;
	height: auto;
}

.status-bar-gold,
.status-bar-damage,
.status-bar-store,
.status-bar-battle,
.status-bar-end-turn,
.status-bar-armor,
.status-bar-color,
.battle-menu-button {
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	/*float: left;*/
	/*padding-left: 25px;*/
	/*color: #fff;*/
	/*background-position: center left;*/
	/*margin-right: 20px;*/
}

.status-bar-gold {
	float: left;
	margin-top: 0.6em;
	padding-left: 2.3em;
	margin-left: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.status-bar-color {
	margin-left: 1em;
	float: left;
	margin-top: 0.5em;
	border-style: solid;
	border-width: 0.2em;
}

.battle-menu-button,
.status-bar-battle {
	margin-top: 0.2em;
	padding: 0.5em 0.7em;
	float: right;
	text-transform: uppercase;
}

.status-bar[data-state="store"] .battle-menu-button {
	display: none;
}

.status-bar-damage,
.status-bar-armor {
	background-color: transparent;
	float: left;
	padding-left: 2.2em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border: solid 0.5em transparent;
	border-bottom-width: 0.3em;
}

.status-bar-armor {
	padding-left: 1.3em;
}

.status-bar-end-turn {
	position: absolute;
	right: 0.1em;
	top: 1.7em;
	padding: 0.2em 0.2em 0.1em 0.1em;
	/* text-shadow: 0.075em 0.075em 0 #000; */
	/* text-shadow: 0.05em 0.05em 0 #000, 0.05em -0.05em 0 #000, -0.05em 0.05em 0 #000, -0.05em -0.05em 0 #000, 0 0.05em 0 #000, 0 -0.05em 0 #000, -0.05em 0 0 #000, 0.05em 0 0 #000; */
	letter-spacing: -0.4em;
	font-size: 2em;
	line-height: 1em;
	background-color: #000;
	border-width: 0.1em;
	border-color: inherit;
	border-style: solid;
	box-shadow: 0.2em 0.2em 0 #000;
}

.status-bar-end-turn:active {
	right: 0;
	top: 1.8em;
	box-shadow: none;
}

.status-bar-store,
.status-bar-battle {
	display: none;
}

.status-bar[data-state='store'] .status-bar-battle {
	display: block;
}

.status-bar[data-state='battle'] .status-bar-store {
	display: block;
}

.status-bar-store {
	opacity: 0.5;
}

.status-bar-store[data-state='enable'] {
	opacity: 1;
}

.status-bar-gold {
	background-image: url(../img/status-bar/gold.png);
}

.status-bar-damage {
	background-image: url(../img/status-bar/damage.png);
}

.status-bar-armor {
	background-image: url(../img/status-bar/armor.png);
}

.scale-button {
	position: fixed;
	/* border: solid 1px #000; */
	/* -webkit-border-radius: 5px; */
	/* border-radius: 5px; */
	/* background-color: #fff; */
	right: 0.25em;
	top: 50%;
	padding: 0.75em;
	text-align: center;
	margin-top: -1.25em;
	font-size: 1.25em;
}

.scale-button-second {
	margin-top: 1.25em;
}

.cpu-running-disable-buttons {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
	text-align: right;
	box-sizing: border-box;
	padding: 40px;
}

.animation-running-disable-buttons {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.color-green {
	color: #0a0;
}

.color-red {
	color: #a00;
}

.inter-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.battle-menu-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}

.double-blocks-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.double-block-container {
	width: 100%;
	height: 50%;
}

/*
.title-game-logo {
	background-image: url(../img/other/title-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
}
*/

.radio-button-wrapper {
	display: block;
}

.black-bg {
	background-color: #000;
}

.status-bar-color[data-color="blue"],
.blue-bg {
	background-color: #00c;
}

.status-bar-color[data-color="red"],
.red-bg {
	background-color: #c00;
}

.square-wrapper {
	display: block;
	height: 100%;
}

.square {
	display: block;
	height: 100%;
}

.title-game-logo {
	background-image: url(../img/other/title-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
}

.text-align-center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.header {
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	border-bottom: 1px solid #f0f0f0;
}

.item-wrapper {
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	padding: 0 0.7em;
}

.item-wrapper > div,
.item-wrapper > label {
	padding: 0.5em 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.small-separator {
	font-size: 0.5em;
}

.custom-radio-button + .relative-opacity {
	opacity: 0.3;
}

.custom-radio-button:checked + .relative-opacity {
	opacity: 1;
}

.select-color-square {
	height: 1em;
	display: block;
	padding: 0 0.5em;
	border-style: solid;
	border-width: 0.2em;
	margin-top: -0.2em;
}

.color-block {

}

.header-button {
	padding: 1em 0.7em;
}

.with-padding-1 {
	padding: 1em;
}

.fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.relative {
	position: relative;
}

.overflow-auto {
	overflow: auto;
}

.maps-list-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 3em;
	box-sizing: border-box;
	z-index: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.scroll-arrows-bg:before,
.scroll-arrows-bg:after {
	display: block;
	position: absolute;
	right: 1em;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.scroll-arrows-bg:after {
	bottom: 1em;
	content: '->';
}

.scroll-arrows-bg:before {
	top: 4em;
	content: '<-';
}

.maps-list-container {
	padding-bottom: 3em;
}

.black-header {
	background-color: #000;
	position: relative;
	z-index: 1;
}


