.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #ccc;
}

.battle-screen,
.event-handler,
.units-layer,
.objects-layer,
.available-path-layer,
.background-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.event-handler {
	z-index: 4;
}

.units-layer {
	z-index: 3;
}

.objects-layer {
	z-index: 2;
}

.available-path-layer {
	z-index: 1;
}

.background-layer {
	z-index: 0;
}

.square-line {
	width: 100%;
	clear: both;
}

.square,
.unit {
	box-sizing: border-box;
	float: left;
}

.square {
	border: 1px solid #999;
	border-left: none;
	border-top: none;
}

.unit-under-attack {
	background-image: url(../img/action/attack.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.available-path-square {
	background-color: #ff7f7f;
}

.end-turn {
	width: 40px;
	height: 40px;
	background-color: #c00;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 10;
}

