/* TEMP */
.unit {
	-webkit-transition: all ease-out 0.2s;
}

.unit {
	position: absolute;
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: 0 0;
}

.unit-soldier {
	background-image: url(../img/unit/soldier/sprite.png);
}

.unit-archer {
	background-image: url(../img/unit/archer/sprite.png);
}

.unit-knight {
	background-image: url(../img/unit/knight/sprite.png);
}

.unit-color-blue {
	background-position: 0 0;
}

.unit-color-red {
	background-position: 0 100%;
}

.unit-health {
	font-size: 13px;
	line-height: 13px;
	text-shadow: 0 1px 0 #000, 0 -1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
	font-weight: bold;
	position: absolute;
	bottom: 2px;
	left: 0;
	font-family: Helvetica, sans-serif;
	width: 100%;
	text-align: center;
	color: #fff;
}

.grave .unit-health {
	display: none;
}

.unit-end-turn {
	opacity: 0.5;
}

.grave {
	-webkit-transition: none;
	background-position: 0 0;
	background-image: url(../img/unit/grave.png);
	z-index: -1;
}









