/* TEMP */
.unit {
	-webkit-transition: all ease-out 0.2s;
}

.unit {
	position: absolute;
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: 0 0;
}

.unit-soldier {
	background-image: url(../img/unit/soldier/sprite.png);
}

.unit-archer {
	background-image: url(../img/unit/archer/sprite.png);
}

.unit-knight {
	background-image: url(../img/unit/knight/sprite.png);
}

.unit-color-blue {
	background-position: 0 50%;
}

.unit-color-red {
	background-position: 0 100%;
}

.unit-health {
	font-size: 15px;
	line-height: 15px;
	text-shadow: 0px 1px 0px #fff,0px -1px 1px #fff,-1px 0px 1px #fff,1px 0px 1px #fff;
	font-weight: bold;
	position: absolute;
	bottom: 2px;
	left: 0;
	font-family: Helvetica, sans-serif;
	width: 100%;
	text-align: center;
}

.grave .unit-health {
	display: none;
}

.unit-end-turn {
	opacity: 0.5;
}

.grave {
	-webkit-transition: none;
	background-position: 0 0;
	background-image: url(../img/unit/grave.png);
}









