<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>iPhone80SettingsIcon</string>
		<string>iPad50SpotlightIcon</string>
		<string>iPhone120HomeIcon</string>
		<string>iPad29SettingsIcon.png</string>
		<string>iPad50SpotlightIcon.png</string>
		<string>iPad58SettingsIcon@2x.png</string>
		<string>iPad72HomeIcon.png</string>
		<string>iPad100SpotlightIcon@2x.png</string>
		<string>iPad144HomeIcon@2x.png</string>
		<string>iPhone29SettingsSpotlightIcon.png</string>
		<string>iPhone57HomeIcon.png</string>
		<string>iPhone58SettingsSpotlightIcon@2x.png</string>
		<string>iPhone114HomeIcon@2x.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>iPad40SpotlightIcon</string>
		<string>iPhone80SettingsIcon</string>
		<string>iPad152HomeIcon</string>
		<string>iPad76HomeIcon</string>
		<string>iPhone120HomeIcon</string>
		<string>iPad29SettingsIcon.png</string>
		<string>iPad50SpotlightIcon.png</string>
		<string>iPad58SettingsIcon@2x.png</string>
		<string>iPad72HomeIcon.png</string>
		<string>iPad100SpotlightIcon@2x.png</string>
		<string>iPad144HomeIcon@2x.png</string>
		<string>iPhone29SettingsSpotlightIcon.png</string>
		<string>iPhone57HomeIcon.png</string>
		<string>iPhone58SettingsSpotlightIcon@2x.png</string>
		<string>iPhone114HomeIcon@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.statlex.kidgames.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
