<!DOCTYPE html>
<html>
<head>

	<title>game</title>

	<!-- mobile device -->
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

	<!-- styles -->
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- langs -->
	<script src="js/lang/en.js" type="text/javascript"></script>

	<!-- libs -->
	<script src="js/lib/bro.js" type="text/javascript"></script>
	<script src="js/lib/underscore.js" type="text/javascript"></script>
	<script src="js/lib/backbone.js" type="text/javascript"></script>

	<!-- views -->
	<script src="js/object/main-view.js" type="text/javascript"></script>
	<script src="js/object/title-view.js" type="text/javascript"></script>
	<script src="js/object/section-view.js" type="text/javascript"></script>
	<script src="js/object/question-view.js" type="text/javascript"></script>

	<!-- services -->
	<script src="js/service/info.js" type="text/javascript"></script>
	<script src="js/service/lang.js" type="text/javascript"></script>
	<script src="js/service/template-master.js" type="text/javascript"></script>

	<!-- sections -->
	<script src="js/question/sectionZagadkiSPodvohom.js" type="text/javascript"></script>

	<!-- main -->
	<script src="js/main.js" type="text/javascript"></script>

</head>
<body>

<div class="js-wrapper">



</div>


<script type="text/x-template" data-name="title">

	<h1>title</h1>

	<div>

		<% for (var key in sections) { %>

			<div class="js-go-to-section" data-section-name="<%= key %>"><%= sections[key].name %></div>

		<% }; %>

	</div>

</script>

<script type="text/x-template" data-name="list">

	<h1>list</h1>

	<h1><%= name %></h1>

	<div>

		<% questions.forEach(function(question, index){ %>

			<h1 class="js-question-item" data-number="<%= index %>"><%= question.title %></h1>

		<% }); %>

	</div>

</script>



<script type="text/x-template" data-name="question">

	<h1><%= title %></h1>

	<p><%= text %></p>

	<% if (image) { %>
		<img src="image" alt=""/>
	<% }; %>

	<% if (obj.hint) { %>
		<p class="js-hint-button">подсказка</p>
		<p class="js-hint-text hidden"><%= hint %></p>
	<% }; %>


	<p class="js-answer-button">ответ</p>
	<p class="js-answer-text hidden"><%= answer %></p>

	<div class="js-set-question" data-direction="-1">prev</div>
	<div class="js-set-question" data-direction="1">next</div>

</script>






</body>
</html>