<!DOCTYPE html>
<html>
<head>
	<title>red days</title>

	<!-- mobile device -->

	<meta charset="UTF-8" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

	<!-- keywords and description -->
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- styles + -->
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/slider.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<!-- styles - -->

	<!-- langs + -->
	<script src="js/lang/en.js" type="text/javascript"></script>
	<script src="js/lang/ru.js" type="text/javascript"></script>
	<!-- langs - -->

	<!-- service + -->
	<script src="js/service/info.js" type="text/javascript"></script>
	<script src="js/service/util.js" type="text/javascript"></script>
	<script src="js/service/template-container.js" type="text/javascript"></script>
	<script src="js/service/lang.js" type="text/javascript"></script>
	<script src="js/service/slider.js" type="text/javascript"></script>
	<script src="js/service/data-base.js" type="text/javascript"></script>
	<script src="js/service/data-base-additional.js" type="text/javascript"></script>
	<script src="js/service/cycle.js" type="text/javascript"></script>
	<script src="js/service/calendar.js" type="text/javascript"></script>
	<!-- service - -->

	<!-- lib + -->
	<script src="js/lib/json2.js" type="text/javascript"></script>
	<script src="js/lib/underscore.js" type="text/javascript"></script>
	<script src="js/lib/bro.js" type="text/javascript"></script>
	<script src="js/lib/backbone.js" type="text/javascript"></script>
	<!-- lib - -->

	<!-- views + -->
	<script src="js/view/main-menu.js" type="text/javascript"></script>
	<script src="js/view/main-view.js" type="text/javascript"></script>
	<script src="js/view/date-info.js" type="text/javascript"></script>
	<script src="js/view/confirm.js" type="text/javascript"></script>
	<script src="js/view/alert.js" type="text/javascript"></script>
	<script src="js/view/options.js" type="text/javascript"></script>
	<script src="js/view/help.js" type="text/javascript"></script>
	<script src="js/view/window-view.js" type="text/javascript"></script>
	<script src="js/view/cycle-delayed-view.js" type="text/javascript"></script>
	<script src="js/view/title.js" type="text/javascript"></script>
	<script src="js/view/date-picker.js" type="text/javascript"></script>
	<!-- views - -->

	<!-- main js -->
	<script src="js/main.js" type="text/javascript"></script>

</head>
<body>

<div class="main-wrapper js-main-wrapper">

	<!-- main menu -->
	<div class="js-main-menu-wrapper main-menu-wrapper"></div>

	<!-- main wrapper -->
	<div class="js-main-data-wrapper main-data-wrapper">
		<div class="js-calendar-wrapper hidden"></div>
		<div class="js-notes-wrapper hidden">

			<div>
				<input type="search" class="js-search-notes"/>
			</div>

			<div class="js-date-notes-list">
				<!-- date notes here -->
			</div>

		</div>

		<div class="js-time-wrapper hidden">time</div>
	</div>

	<div class="js-date-info-wrapper date-info-wrapper"></div>

	<div class="js-fade fade hidden"></div>
	<div class="js-confirm-wrapper confirm-wrapper"></div>
	<div class="js-options-wrapper options-wrapper"></div>

	<div class="js-window-wrapper window-wrapper"></div>

	<div class="title-view js-title-view">

		<header class="title-header">
			<div class="js-to-calendar title-to-calendar"></div>
			<div class="js-setting title-to-setting"></div>
		</header>

		<div class="main-state-wrapper js-main-state-wrapper"></div>
		<div class="legend-wrapper js-legend-wrapper"></div>
		<div class="js-start-tracking-button js-bottom-button title-tracking-button"></div>
		<!-- some text -->
	</div>

</div>

<script type="text/x-template" class="jsTemplate" data-template-name="title-legend">

	<% ['flow', 'safe', 'unsafe', 'fertile'].forEach(function(type){ %>
	<div class="cycle-legend-item">
		<div class="legend-<%= type %> cycle-legend-point"></div>
		<div class="cycle-legend-description"><%= lang.cycle[type] %></div>
	</div>
	<% }); %>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="title-cycle-state-button">

	<div class="table main-cycle-button-data-wrapper">
		<div class="table-row">
			<div class="table-cell">
				<% if (haveData) { %>

				<div class="main-cycle-button-today"><%= date %> <%= lang.month[month] %>, <%= year %></div>

				<div class="main-cycle-button-period-state">
					<span class="main-cycle-button-period-state-day"><%= lang.dayW %></span>
					<span class="main-cycle-button-period-state-progress"><%= dayOfCycle %><!--/ <%= cycleLength %>--></span>
				</div>

				<div class="main-cycle-button-period-name">
					<%= periodName %>
				</div>

				<% } else { %>

					<%= lang.clickHereToStartNewCycle %>

				<% }; %>

			</div>
		</div>
	</div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="title-cycle-arrow">

	<svg class="title-cycle-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="263.15px" height="263.15px" viewBox="0 0 263.15 263.15" enable-background="new 0 0 263.15 263.15" xml:space="preserve">

		<defs>
			<linearGradient id="circleArrowGradient" x1="<%= gradientX1 %>%" y1="<%= gradientY1 %>%" x2="<%= gradientX2 %>%" y2="<%= gradientY2 %>%" spreadMethod="pad" >
				<stop offset="0%" stop-color="#FFFFFF" stop-opacity="1"/>
				<stop offset="100%" stop-color="#cad2d8" stop-opacity="1"/>
			</linearGradient>
		</defs>

		<filter id="dropShadow" height="150%">
			<feGaussianBlur in="SourceAlpha" stdDeviation="4"/>
			<feOffset dx="<%= shadowDx %>" dy="<%= shadowDy %>" result="offsetblur"/>
			<feMerge>
				<feMergeNode/>
				<feMergeNode in="SourceGraphic"/>
			</feMerge>
		</filter>

		<path style="filter:url(#dropShadow); fill:url(#circleArrowGradient);" transform="rotate(<%= rotate %>, 131.58, 131.58)" fill="#FFFFFF" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M157.42,20.69 L157.42,20.69L131.575,4.724l-25.844,15.965v0.001c-50.418,11.704-87.99,56.907-87.99,110.886 c0,62.868,50.965,113.835,113.834,113.835s113.834-50.967,113.834-113.835C245.409,77.597,207.838,32.395,157.42,20.69z"/>

	</svg>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="main-menu">

	<div class="js-to-home main-menu-item"><div class="main-menu-item-to-home"></div></div>
	<div class="js-calendar main-menu-item"><div class="main-menu-item-calendar"></div></div>
	<div class="js-notes main-menu-item"><div class="main-menu-item-notes"></div></div>
	<div class="js-time main-menu-item"><div class="main-menu-item-time"></div></div>
	<div class="js-options main-menu-item"><div class="main-menu-item-options"></div></div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="date-note">

	<% data.forEach(function(note){ %>
		<div class="js-date-note date-note <%= note.doNotShow ? 'not-show-item' : 'show-item' %>">
			<%= note.date %>
			<%= lang.month[note.month] %>
			<%= note.year %>
			<br/>-----------
			<span><%= note.addedType %></span>

			<% if (note.categories) { %>

				<% if (Object.keys(note.categories.pencil).length) { %>

					<h1>pencil header</h1>

					<% if (note.categories.pencil.sex) { %>
						<span data-text="<%= lang.sex %>">
							<%= lang.sex %>
						</span>
					<%	}; %>

					<% if (note.categories.pencil.pill) { %>
						<span data-default-text="<%= lang.pill %>">
							<%= lang.pill %>
						</span>
					<%	}; %>

					<% if (note.categories.pencil.weight) { %>
						<span data-default-text="<%= lang.weight %>">
							<%= lang.weight %>
						</span> = <%= note.categories.pencil.weight %>
					<%	}; %>

					<% if (note.categories.pencil.notes) { %>
						<span data-default-text="<%= note.categories.pencil.notes %>">
							<%= lang.notes %> = <%= note.categories.pencil.notes %>
						</span>
					<%	}; %>

				<% }; %>

				<% if (Object.keys(note.categories.health).length) { %>

					<h1>health header</h1>

					<!-- todo: add russian language -->
					<% for (var key in note.categories.health) { %>
						<% if (note.categories.health.hasOwnProperty(key)) { %>
							<span data-default-text="<%= key %>">
								<%= key %>
							</span>
						<% }; %>
					<% }; %>

				<% }; %>

				<% if (Object.keys(note.categories.mood).length) { %>

					<h1>mood header</h1>
					<!-- todo: add russian language -->
					<% for (var key in note.categories.mood) { %>
						<% if (note.categories.mood.hasOwnProperty(key)) { %>
							<span data-default-text="<%= key %>">
								<%= key %>
							</span>
						<% }; %>
					<% }; %>

				<% }; %>

			<% }; %>

		</div>
	<% }); %>


</script>

<script type="text/x-template" class="jsTemplate" data-template-name="main-calendar-wrapper">

	<div class="js-show-help show-help"></div>

	<div class="slider-date js-slider-date"></div>

	<div class="js-slider-to-left slider-to-left"></div>
	<div class="js-slider-to-right slider-to-right"></div>

	<div class="js-main-calendar-wrapper slider-wrapper">
		<div class="js-main-calendar-inner-container slider-container">

		</div>
	</div>

	<div class="js-cycle-progress-wrapper cycle-progress-wrapper">

	</div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="main-calendar-date">

	<%= lang.month[date.month] %> - <%= date.year %>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="main-calendar-page">

	<div class="js-main-calendar-page slider-page">

		<div class="week-days-wrapper">
			<% weekDays.forEach(function(day) { %>
				<div class="week-day"><%= lang.dayShort[day] %></div>
			<% }); %>
		</div>

		<h1 style="display: none"><<-- <%= lang.month[month] %> / <%= year %> -->></h1>

		<% pre.dates.forEach(function(date) { %>
		<div class="month-date" data-date="<%= date.date %>-<%= date.month %>-<%= date.year %>"><div class="inner-month-date"><%= date.date %></div></div>
		<% }); %>
		<% cur.dates.forEach(function(date) { %>
		<div class="month-date day-of-current-month" data-date="<%= date.date %>-<%= date.month %>-<%= date.year %>"><div class="inner-month-date"><%= date.date %></div></div>
		<% }); %>
		<% next.dates.forEach(function(date) { %>
		<div class="month-date" data-date="<%= date.date %>-<%= date.month %>-<%= date.year %>"><div class="inner-month-date"><%= date.date %></div></div>
		<% }); %>

	</div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="date-info">

	<div>
		<span class="js-hide-view">hide</span>
		<span class="js-date-info-date">date</span>
		<span class="js-save-date-info">apply</span>
	</div>

	<div>
		<h2 class="js-pencil-button js-tab active-tab" data-tab-index="0">pencil</h2>
		<h2 class="js-health-button js-tab" data-tab-index="1">health</h2>
		<h2 class="js-mood-button js-tab" data-tab-index="2">mood</h2>
	</div>

	<div class="js-date-details-wrapper">


			<!-- details -> see date-info-details -->


	</div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="date-info-details">

	<div class="js-pencil-details js-tab-page" data-page-index="0">
		<form>
			<label><input type="checkbox" data-handle="sex"/>heart</label>
			<label><input type="checkbox" data-handle="pill"/>pill</label>
			<label><input type="number" data-handle="weight"/>weight</label>
			<label><input type="number" data-handle="temperature"/>temperature</label>
			<textarea data-handle="notes"></textarea>
			<input type="reset" value="reset all"/>
		</form>
	</div>

	<div class="js-health-details hidden js-tab-page" data-page-index="1">
		<label><input type="checkbox" data-handle="achy"/>achy</label>
		<label><input type="checkbox" data-handle="acne"/>acne</label>
		<label><input type="checkbox" data-handle="bloated"/>bloated</label>
		<label><input type="checkbox" data-handle="diarrhea"/>diarrhea</label>
	</div>

	<div class="js-mood-details hidden js-tab-page" data-page-index="2">
		<label><input type="checkbox" data-handle="angry"/>angry</label>
		<label><input type="checkbox" data-handle="calm"/>calm</label>
		<label><input type="checkbox" data-handle="happy"/>happy</label>
	</div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="date-info-day-header">
	<div><%= date %> <%= lang.month[month] %> <%= year %></div>
</script>

<script type="text/x-template" class="jsTemplate" data-template-name="confirm">
	<div class="notification">
		<h2><%= title || '' %></h2>
		<p><%= text || '' %></p>
		<input type="button" value="" class="js-ok btn-ok"/>
		<input type="button" value="" class="js-cancel btn-cancel"/>
	</div>
</script>

<script type="text/x-template" class="jsTemplate" data-template-name="alert">
	<div class="notification">
		<h2><%= title || '' %></h2>
		<p><%= text || '' %></p>
		<input type="button" value="" class="js-ok btn-ok"/>
	</div>
</script>

<script type="text/x-template" class="jsTemplate" data-template-name="options">

	<h1>option</h1>

	<div><p data-show="settings">settings</p></div>
	<div><p data-show="help">help</p></div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="help">

	<div class="js-help-text-container">

		<div class="js-inner-scroll-container">

		<h1>help</h1>

		<div class="js-help-back" data-back-button="true"> << back</div>

		<% if (info.lang === 'ru') { %>
			<h1>ru</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
		<% }; %>

		<% if (info.lang === 'en') { %>
			<h1>en</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consectetur delectus doloremque dolores error excepturi facere ipsum iure libero minima, nesciunt perspiciatis quasi quibusdam ratione similique velit, veniam vero.</p>
		<% }; %>
		</div>
	</div>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="cycle-progress-info">

	<%= lang.progress %> : <%= dateOfCycle %> / <%= length %>
	<br/>
	<%= lang.cycle[state] %>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="settings">

	<h1>settings</h1>

	<div data-back-button="true"> << back </div>

	<div>
		<% info.availableLangs.forEach(function(lang){ %>

			<% if (lang === info.lang) { %>
			<div class="js-select-language current-lang" data-lang="<%= lang %>"><%= lang %></div>
			<% } else { %>
			<div class="js-select-language" data-lang="<%= lang %>"><%= lang %></div>
			<% }; %>

		<% }); %>

	</div>

	<section>

		<h2>my cycle usually is:</h2>
		<button class="js-change-cycle-length" data-change="-1"> << </button>
		<span class="js-usually-cycle-length"><%= info.cycleLength %></span>
		<button class="js-change-cycle-length" data-change="1"> >> </button>

	</section>

	<section>

		<h2>Week start on monday:</h2>
		<label> <input type="checkbox" class="js-week-start-on-monday" /> </label>

	</section>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="cycle-delayed">

	<div class="js-close-delayed-view">#close#</div>

	<% if (info.lang === 'ru') { %>
	<h1>ru</h1>
	<p>задержка состовляет <%= delayed %> (дня/дней)</p>
	<p>Что бы начать новый цикл, нажми и удерживай день начала цикла.</p>
	<% }; %>

	<% if (info.lang === 'en') { %>
	<h1>en</h1>
	<p>Next cycle delayed by <%= delayed %> day(s)</p>
	<p>To enter new cycle, press and hold the start date.</p>
	<% }; %>

</script>

<script type="text/x-template" class="jsTemplate" data-template-name="date-picker-fade">
	<div class="js-date-picker-fade fade"></div>
</script>

<script type="text/x-template" class="jsTemplate" data-template-name="date-picker">

	<div class="js-date-picker-wrapper date-picker-wrapper">

		<div class="js-period-state date-picker-period-state">period state</div>


		<div class="date-picker-selects-wrapper clear-fix">

			<% ['date', 'month', 'year'].forEach(function(type){ %>
				<div class="js-select-wrapper date-picker-select-block">

					<img src="img/date-picker-button-bg.png" class="date-picker-button-bg" alt=""/>
					<img src="img/date-picker-button-bg-sprite.svg" class="date-picker-button-bg-plus-minus" alt=""/>

					<div class="date-picker-button-wrapper date-picker-button-wrapper-plus">
						<input type="button" class="js-change-<%= type %> js-change-plus date-picker-change-date-button" value="+"/>
					</div>

					<div class="date-picker-select-wrapper">
						<div class="js-current-input js-current-input-<%= type %> date-picker-current-input"></div>
						<select class="js-select-<%= type %> date-picker-select-tag" ></select>
					</div>

					<div class="date-picker-button-wrapper date-picker-button-wrapper-minus">
						<input type="button" class="js-change-<%= type %> js-change-minus date-picker-change-date-button" value="-"/>
					</div>

				</div>
			<% }); %>

		</div>

		<div class="js-date-picker-day date-picker-period-day">day</div>

		<div class="date-picker-cycle-button-wrapper clear-fix">
			<div class="js-set-date-picker set-date-picker">status</div>
			<div class="js-close-date-picker close-date-picker"><%= lang.cancelBtn %></div>
		</div>

	</div>

</script>


</body>
</html>