.main-svg {
	display: block;
	position: relative;
	z-index: 0;
}

.scale-button {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #c00;
	width: 34px;
	height: 34px;
	z-index: 1;
}

.scale-button.scale-button-plus {
	left: auto;
	right: 0;
	background-color: #0c0;
}

.color-picker-fade {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.color-picker {
	position: fixed;
	width: 90%;
	height: 80%;
	left: 5%;
	top: 10%;
	background-color: #000;
	z-index: 15;
}

.color-picker h2 {
	padding: 15px 20px;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	position: relative;
	z-index: 5;
}

.color-pickers-colors-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 46px 5px 0;
	box-sizing: border-box;
	z-index: 0;
}

.color-picker-secondary-color,
.color-picker-main-color {
	box-sizing: border-box;
	height: 40%;
	clear: both;
	border-bottom: 5px solid #000;
}

.color-picker-main-color {
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: 0 0;
}

.color-picker-new-color,
.color-picker-old-color {
	box-sizing: border-box;
	width: 50%;
	float: left;
	height: 20%;
	border-bottom: 5px solid #000;
}

.color-picker-old-color {
	border-left: 2px solid #000;
}

.color-picker-new-color {
	border-right: 3px solid #000;
}

.color-picker,
.color-picker-fade {
	display: none;
}

.show-color-picker .color-picker,
.show-color-picker .color-picker-fade {
	display: block;
}

.show-color-picker .scale-button,
.show-color-picker .main-svg,
.show-color-picker .show-color-picker-button
{
	display: none;
}

.show-color-picker-button,
.simple-color-picker,
.color-history-back,
.color-history-save {
	position: fixed;
	top: 0;
	left: 50%;
	background-color: #000;
	width: 34px;
	height: 34px;
	z-index: 1;
	margin-left: -17px;
}

.simple-color-picker {
	margin-left: -51px;
}

.color-history-back {
	margin-left: 17px;
}

.color-history-save {
	margin-left: 51px;
	background-color: #00c;
}













