.slider-wrapper {
	width: 100%;
	clear: both;
	overflow: hidden;
}

.slider-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.slider-container {
	width: 300%;
}

.slider-page {
	width: 33.33%;
	float: left;
}

.slider-page:after,
.slider-container:after {
	content: '';
	display: block;
	clear: both;
}

.month-date {
	float: left;
	width: 14.28%;
}

