.slider-wrapper {
	width: 100%;
	clear: both;
	overflow: hidden;
	padding-top: 25px;
}

.slider-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.slider-container {
	width: 300%;
}

.slider-page {
	width: 33.33%;
	float: left;
}

.slider-page:after,
.slider-container:after {
	content: '';
	display: block;
	clear: both;
}

.month-date {
	float: left;
	width: 14.28%;
	height: 46px;
	box-sizing: border-box;
	padding: 3px;
	border-radius: 100%;
	opacity: 0.4;
}

.day-of-current-month {
	opacity: 1;
}

.inner-month-date {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	box-sizing: border-box;
	border: solid #444 1px;
	border-radius: 4px;
}


















