.slider-wrapper {
	width: 100%;
	clear: both;
	overflow-x: hidden;
}

.slider-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.slider-container {
	width: 300%;
}

.slider-page {
	width: 33.33%;
	float: left;
}



