.blur .main-menu-wrapper,
.blur .main-data-wrapper {
	-webkit-filter: blur(1px);
	filter: blur(1px);
}

.inner-month-date {
	background-color: #d2d2d7;
}

.title-cycle-date {
	fill: #d2d2d7;
}

.selected-date .inner-month-date {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.flow .inner-month-date {
	background-color: #ff3d30;
}

.title-cycle-date.flow {
	fill: #ff3d30;
}

.start-flow .inner-month-date {
	background-color: #ff2d55;
}

.title-cycle-date.start-flow {
	fill: #ff2d55;
}

.safe .inner-month-date {
	background-color: #5ac8fa;
}

.title-cycle-date.safe {
	fill: #5ac8fa;
}

.unsafe .inner-month-date {
	background-color: #fc0;
}

.title-cycle-date.unsafe {
	fill: #fc0;
}

.fertile .inner-month-date {
	background-color: #4cd964;
}

.title-cycle-date.fertile {
	fill: #4cd964;
}

.title-cycle-date.current-day {
	fill: #cc00cc;
}

.future-start-flow .inner-month-date {
	background-color: rgba(255, 67, 49, 0.71);
}

.tick .inner-month-date,
.start-flow .inner-month-date {
	position: relative;
}

.tick .inner-month-date:after,
.start-flow .inner-month-date:before {
	content: '';
	display: block;
	background-image: url('../img/icon-sprite.svg');
	background-repeat: no-repeat;
	position: absolute;
	height: 15px;
	width: 15px;
	background-position: -247px -8px;
	bottom: 1px;
	left: 50%;
	margin-left: -8px;
}

.start-flow .inner-month-date:before {
	background-position: -343px -8px;
}

.start-flow.tick .inner-month-date:after,
.start-flow.tick .inner-month-date:before {
	margin-left: -3px;
}

.start-flow.tick .inner-month-date:before {
	margin-left: -14px;
}

/*

@ gray #444

*/

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../font/HelveticaNeueCyr-UltraLight.otf');
}

body {
	font-family: HelveticaNeueCyr, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

html,
body,
.main-menu-wrapper,
.main-data-wrapper,
.main-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
}

.main-menu-wrapper {
	z-index: 1;
	height: 50px;
	border-bottom: 1px dashed #444;
}

.main-data-wrapper {
	z-index: 0;
	padding-top: 50px;
}

.main-menu-item {
	float: left;
	width: 25%;
	height: 100%;
}

.main-menu-item-time,
.main-menu-item-calendar,
.main-menu-item-notes,
.main-menu-item-options {
	margin: 8px auto 0;
	background-image: url('../img/icon-sprite.svg');
	background-repeat: no-repeat;
	height: 32px;
}

.main-menu-item-time {
	width: 32px;
	background-position: -105px 0;
}

.main-menu-item-calendar {
	width: 34px;
	background-position: 0 0;
}

.main-menu-item-notes {
	width: 32px;
	background-position: -71px 0;
}

.main-menu-item-options {
	width: 33px;
	background-position: -36px 0;
}

.show-help {
	width: 32px;
	height: 32px;
	position: fixed;
	background-image: url('../img/icon-sprite.svg');
	background-repeat: no-repeat;
	background-position: -207px 0;
	top: 64px;
	right: 10px;
	z-index: 1;
	opacity: 0.8;
}

.slider-date {
	text-align: center;
	font-size: 15px;
	line-height: 15px;
	height: 15px;
	padding-top: 25px;
}

.slider-to-left,
.slider-to-right {
	width: 32px;
	height: 32px;
	position: fixed;
	background-image: url('../img/icon-sprite.svg');
	background-repeat: no-repeat;
	z-index: 1;
	background-position: -139px 0;
	left: 50%;
	margin-left: -76px;
	top: 67px;
}

.slider-to-right {
	background-position: -173px 0;
	margin-left: 44px;
}

.week-days-wrapper {

}

.week-day {
	float: left;
	width: 14.28%;
	font-size: 15px;
	line-height: 15px;
	padding-bottom: 5px;
	text-align: center;
}

.week-days-wrapper:after {
	content: '';
	display: block;
	clear: both;

}

.fade {
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.confirm-wrapper,
.options-wrapper,
.date-info-wrapper,
.window-wrapper,
.delayed-view {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: #fff;
	transition: all ease-out 0.3s;
	padding: 20px 10px 10px;
	box-sizing: border-box;
	-webkit-transition: all ease-out 0.3s;
}

.window-wrapper {
	z-index: 25;
}

.options-wrapper {
	top: 0;
	left: 100%;
}

.confirm-wrapper h2,
.options-wrapper h2,
.date-info-wrapper h2 {
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
}

.confirm-wrapper p,
.options-wrapper p,
.date-info-wrapper p {
	padding: 10px;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.notification {
	text-align: center;
}

.month-date,
.inner-month-date {
	/*border-radius: 0 !important;*/
}

label {
	display: block;
	clear: both;
}

.btn-ok,
.btn-cancel {
	background-color: #fff;
	background-image: url(../img/icon-sprite.svg);
	background-repeat: no-repeat;
	background-position: -271px 0;
	width: 32px;
	height: 32px;
	display: inline-block;
	border: none;
	margin: 8px 20px;
	outline: none;
}

.btn-cancel {
	background-position: -303px 0;

}

.cycle-progress-wrapper {
	text-align: center;
	padding: 10px;
}

.current-lang {
	background-color: #878787;
}

.scroll {
	overflow: auto;
	position: fixed;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.date-note {
	padding: 10px;
}

.show-item {
	background-color: #cc5e66;
}

.not-show-item {
	background-color: #e4d5e1;
	opacity: 0.4;
}

.title-view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #fff;
}

.main-state {
	background-color: #c00;
	opacity: 0.5;
	position: fixed;
}

.main-state .main-button {
	position: absolute;
	z-index: 1;
	top: 19%;
	left: 19%;
	width: 62%;
	height: 62%;
	background-image: url(../img/title-button-bg.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.cycle-days-wrapper {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.date-picker-wrapper {
	position: relative;
	z-index: 11;
}




