.selected-date {
	background-color: #390c00;
}

.flow,
.start-flow {
	background-color: #c00;
}

.safe {
	background-color: #00c;
}

.unsafe {
	background-color: #cc0;
}

.fertile {
	background-color: #0c0;
}

.future-start-flow {
	background-color: #c0c;
}

.tick {
	box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);
}
