.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: 0.4s background linear;
	transition: 0.4s background linear;
}

.popup-wrapper.show {
	background-color: rgba(255, 255, 255, 0.8);
}

.popup-wrapper-table {
	height: 100%;
	width: 100%;
}

.popup-container {
	border: 1px solid #007aff;
	padding: 1em 1em 0.7em;
	width: 50%;
	margin: 0 auto;
	color: #0068f5;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	border-radius: 4px;
	background-color: #fff;
	position: relative;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: 0.2s -webkit-transform linear;
	transition: 0.2s transform linear;
}

.show .popup-container {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-close {
	background-image: url(../i/buttons/close.svg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: -0.5em;
	right: -0.5em;
	width: 1.4em;
	height: 1.4em;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background-color: #fff;
}

.popup-text {
	font-size: 1em;
	line-height: 1em;
}

.popup-button {
	width: 3em;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	margin: 0.5em auto 0;
}









