.wrapper {
	position: relative;
}

.page-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.static {
	position: static;
	top: auto;
	left: auto;
	width: auto;
}

.right-position {
	transform: translate(100%, 0);
}

.center-position {
	transform: translate(0, 0);
}

.left-position {
	transform: translate(-100%, 0);
}

.transition {
	transition: 0.5s transform linear;
}





