#wrapper {
	background-image: url('../img/i/main-bg.jpg');
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.title-button {
	box-shadow: inset 0 1px 0 0 #ffffff, 1px 1px 2px rgba(0, 0, 0, 0.3);
	background-image: -webkit-linear-gradient(top, #F5E1AE, #D8CB89);
	background-image: linear-gradient(top, #F5E1AE, #D8CB89);
	background-color: #F5E1AE;
	border-radius: 6px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: block;
	color: #000;
	font-size: 21px;
	font-weight: normal;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 1px #FFF;
	cursor: pointer;
	width: 30%;
	min-width: 200px;
	margin: 0 auto 10px;
	position: relative;
	text-transform: lowercase;
}

.title-button:after {
	content: '';
	display: block;
	position: absolute;
	right: 8px;
	top: 7px;
	background-image: url('../img/i/level.svg');
	background-size: 100% auto;
	width: 35px;
	height: 35px;
}

.title-button.king:after {
	background-position: 0 0;
}

.title-button.tower:after {
	background-position: 0 50%;
}

.title-button.soldier:after {
	background-position: 0 100%;
}

.title-button.settings:after {
	background-image: url('../img/i/setting.svg');
	background-size: contain;
	background-position: top center;
	top: 12px;
	right: 13px;
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
}

.setting-page {
	color: #000;
	font-weight: normal;
	text-align: center;

}

.setting-page div,
.setting-page h1,
.setting-page h2 {
	font-weight: normal;
	text-shadow: 1px 1px 1px #FFF;

}

.header-cell h1 {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}

.header-cell {
	height: 40px;
}

.setting-page .more-header,
.setting-page .select-wrapper {
	display: inline-block;
}

.setting-page .more-header,
.setting-page .select-wrapper div {
	font-size: 18px;
	line-height: 18px;
}

.setting-page .select-wrapper div:after {
	top: 0;
	right: -16px;
	font-size: 18px;
	line-height: 18px;
}

.setting-page label {
	padding-right: 20px;
}

.custom-check-box {
	display: inline-block;
	height: 0;
	width: 0;
	position: relative;
}

.custom-check-box:after {
	content: 'O';
	position: absolute;
	top: -9px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #FFF;
}

.custom-check-box:checked:after {
	content: 'V';
}


