.tangram-page {
	padding: 0;
	position: relative;
}

.tangram-page .main-image {
	position: relative;
}

.tangram-page .figure-container {
	position: absolute;
	top: 0;
	left: 0;
}

polygon.active {
	opacity: 0.7;
}

