<!DOCTYPE html>
<html>
<head>

	<title>AOE</title>

	<!-- mobile device -->
	<meta charset="UTF-8"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

	<!-- styles -->
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/unit.css"/>
	<link rel="stylesheet" href="css/terrain.css"/>
	<link rel="stylesheet" href="css/building.css"/>
	<link rel="stylesheet" href="css/store.css"/>
	<link rel="stylesheet" href="css/create-map.css"/>

	<!-- langs -->
	<script src="js/lang/en.js" type="text/javascript"></script>

	<!-- libs -->
	<script src="js/lib/shim.js" type="text/javascript"></script>
	<script src="js/lib/bro.js" type="text/javascript"></script>
	<script src="js/lib/underscore.js" type="text/javascript"></script>
	<script src="js/lib/backbone.js" type="text/javascript"></script>
	<script src="js/lib/move-area.js" type="text/javascript"></script>

	<!-- services -->
	<script src="js/service/info.js" type="text/javascript"></script>
	<script src="js/service/lang.js" type="text/javascript"></script>
	<script src="js/service/template-master.js" type="text/javascript"></script>
	<script src="js/service/util.js" type="text/javascript"></script>

	<!-- views and relative objects -->
	<script src="js/app/screen/base-view.js" type="text/javascript"></script>
	<script src="js/app/screen/title/title-view.js" type="text/javascript"></script>
	<script src="js/app/screen/battle/battle-view.js" type="text/javascript"></script>
	<script src="js/app/screen/battle/battle-controller.js" type="text/javascript"></script>
	<script src="js/app/screen/store/store-view.js" type="text/javascript"></script>
	<script src="js/app/screen/maps/maps-view.js" type="text/javascript"></script>
	<script src="js/app/screen/create-map/create-map.js" type="text/javascript"></script>

	<!-- main -->
	<script src="js/main.js" type="text/javascript"></script>

	<!-- maps -->
	<script src="js/app/maps/base-map/base-map.js" type="text/javascript"></script>
	<script src="js/app/maps/test-map/map.js" type="text/javascript"></script>
	<script src="js/app/maps/test-map/map2.js" type="text/javascript"></script>
	<script src="js/app/maps/test-map/map3.js" type="text/javascript"></script>

	<!-- units -->
	<script src="js/app/unit/units-info.js" type="text/javascript"></script>
	<script src="js/app/unit/base-unit/base-unit.js" type="text/javascript"></script>
	<script src="js/app/unit/archer/archer.js" type="text/javascript"></script>
	<script src="js/app/unit/bones/bones.js" type="text/javascript"></script>
	<script src="js/app/unit/catapult/catapult.js" type="text/javascript"></script>
	<script src="js/app/unit/golem/golem.js" type="text/javascript"></script>
	<script src="js/app/unit/knight/knight.js" type="text/javascript"></script>
	<script src="js/app/unit/lizard/lizard.js" type="text/javascript"></script>
	<script src="js/app/unit/soldier/soldier.js" type="text/javascript"></script>
	<script src="js/app/unit/spider/spider.js" type="text/javascript"></script>
	<script src="js/app/unit/wisp/wisp.js" type="text/javascript"></script>
	<script src="js/app/unit/wizard/wizard.js" type="text/javascript"></script>
	<script src="js/app/unit/wyvern/wyvern.js" type="text/javascript"></script>

	<!-- cpu -->
	<script src="js/app/cpu/cpu.js" type="text/javascript"></script>

</head>
<body>

<div class="js-wrapper wrapper">

</div>

<script type="text/x-template" data-name="title">

	<div class="title-screen">
		<h1>title</h1>

		<button class="js-go-to-select-map">create game</button>
		<button class="">companies</button>
		<button class="js-create-map">js-create-map</button>

	</div>

</script>

<script type="text/x-template" data-name="select-map">

	<div class="select-map-screen">

		<h1>select map</h1>
		<hr/>
		<% maps.forEach(function(map){ %>
		<div data-js-name="<%= map.jsName %>" class="js-map-to-create-game">
			<h2><%= map.name %></h2>
		</div>
		<hr/>
		<% }); %>

		<hr/>
		<div class="js-player-form">
			<select data-type="type">
				<option value="cpu">cpu</option>
				<option value="human">man</option>
			</select>
			<select data-type="color">
				<option value="red">red</option>
				<option value="blue">blue</option>
			</select>
		</div>
		<hr/>
		<div class="js-player-form">
			<select data-type="type">
				<option value="human">man</option>
				<option value="cpu">cpu</option>
			</select>
			<select data-type="color">
				<option value="blue">blue</option>
				<option value="red">red</option>
			</select>
		</div>
		<hr/>

		<button class="js-go-to-battle">js-go-to-battle</button>

		<button class="js-back">js-back</button>

	</div>

</script>


<script type="text/x-template" data-name="battle">

	<div class="battle-screen js-battle-screen">

		<div class="js-cpu-running cpu-running-disable-buttons hidden">&nbsp;
			bot is running
		</div>

		<div class="status-bar js-status-bar clear-fix" data-state="battle">
			<!-- <div class="status-bar-store js-go-to-store">store</div> -->
			<div class="status-bar-battle js-back">battle</div>
			<div class="status-bar-gold">0</div>
			<div class="status-bar-damage js-status-bar-damage hidden">0</div>
			<div class="status-bar-armor js-status-bar-armor hidden">0</div>
			<div class="status-bar-color js-status-bar-color"></div>
			<div class="status-bar-end-turn js-end-turn">&nbsp;</div>
			<div class="scale-button js-scale-button" data-type="+">+</div>
			<div class="scale-button scale-button-second js-scale-button" data-type="-">&ndash;</div>
		</div>

		<div class="js-layers-moving-wrapper layers-moving-wrapper">

			<div class="js-layers-wrapper layers-wrapper clear-fix">

				<div class="event-handler js-event-handler">
					<% util.fromTo(function(i){ %>
					<div class="square-line">
						<% util.fromTo(function(j){ %>
						<div class="square js-event-handler-square" data-xy="x<%= j %>y<%= i %>" data-x="<%= j %>" data-y="<%= i %>">&nbsp;</div>
						<% }, size.width); %>
					</div>
					<% }, size.height); %>
				</div>

				<div class="units-layer js-units-layer">

				</div>

				<div class="objects-layer">

				</div>

				<div class="available-path-layer js-available-path-layer">
					<% util.fromTo(function(i){ %>
					<div class="square-line">
						<% util.fromTo(function(j){ %>
						<div class="square js-available-path-square" data-xy="x<%= j %>y<%= i %>" data-x="<%= j %>" data-y="<%= i %>">&nbsp;</div>
						<% }, size.width); %>
					</div>
					<% }, size.height); %>
				</div>

				<div class="buildings-layer js-buildings-layer">

				</div>

				<div class="js-background-layer background-layer">
					<% util.fromTo(function(i){ %>
					<div class="square-line">
						<% util.fromTo(function(j){ %>
						<div class="square js-map-square" data-xy="x<%= j %>y<%= i %>" data-x="<%= j %>" data-y="<%= i %>">&nbsp;</div>
						<% }, size.width); %>
					</div>
					<% }, size.height); %>
				</div>

			</div>

		</div>

	</div>

</script>

<script type="text/x-template" data-name="unit">

	<div data-level="<%= unit.level %>" class="unit unit-<%= unit.type.toLowerCase() %> unit-color-<%= unit.color %>" data-id="<%= unit.id %>" data-player-id="<%= unit.playerId %>" style="<%= info.preCSS %>transform: translate(<%= unit.x * view.squareSize %>px, <%= unit.y * view.squareSize %>px);">
		&nbsp;
		<div class="level-bar">&nbsp;</div>
		<div class="wisp-aura">&nbsp;</div>
		<div class="js-health unit-health"><%= unit.health %></div>
	</div>

</script>

<script type="text/x-template" data-name="build">

	<% if (build.type === 'farm') { %>
	<div class="build build-<%= build.type %>" data-xy="x<%= build.x %>y<%= build.y %>" data-x="<%= build.x %>" data-y="<%= build.y %>" style="left: <%= build.x * view.squareSize %>px; top: <%= build.y * view.squareSize %>px;">
		&nbsp;
	</div>
	<% }; %>

	<% if (build.type === 'castle') { %>
	<div class="build build-<%= build.type %>" data-xy="x<%= build.x %>y<%= build.y %>" data-x="<%= build.x %>" data-y="<%= build.y %>" style="height: <%= view.squareSize * 2 %>px; left: <%= build.x * view.squareSize %>px; top: <%= (build.y - 1) * view.squareSize %>px;">
		&nbsp;
	</div>
	<% }; %>

</script>

<script type="text/x-template" data-name="store">

	<div class="store-wrapper js-store-wrapper clear-fix">

		<div class="store-units-wrapper">
			<% unitInfo.unitList.forEach(function(name){ %>

			<% if (unitInfo[name].notInStore) { %>
			<% return; %>
			<% }; %>

			<div class="unit-card js-unit-card" data-name="<%= name %>">
				<%= unitInfo[name].info.name %>
				<button data-name="<%= name %>" class="js-get-unit-info">unit info</button>
				<div data-name="<%= name %>" class="unit-description js-unit-description hidden">
					<%= unitInfo[name].info.description %>
				</div>
				<br>atk: <%= unitInfo[name].atk %>
				<br>def: <%= unitInfo[name].def %>
				<br>move: <%= unitInfo[name].mov %>
				<button data-name="<%= name %>" class="buy-unit js-buy-unit<%= gold >= unitInfo[name].cost ? ' active' : '' %>">buy <%= unitInfo[name].cost %>$</button>
			</div>
			<% }); %>

			<div class="clear"></div>

		</div>
		<div class="clear"></div>

	</div>

</script>

<script type="text/x-template" data-name="create-map">

	<div class="create-map js-create-map">

		<div class="js-layers-wrapper layers-wrapper clear-fix">

			<div class="units-layer js-units-layer">
				<% util.fromTo(function(i){ %>
				<div class="square-line">
					<% util.fromTo(function(j){ %>
					<div class="square js-unit-handler-square" data-xy="x<%= j %>y<%= i %>" data-x="<%= j %>" data-y="<%= i %>">&nbsp;</div>
					<% }, size.width); %>
				</div>
				<% }, size.height); %>
			</div>

			<div class="buildings-layer js-buildings-layer">
				<% util.fromTo(function(i){ %>
				<div class="square-line">
					<% util.fromTo(function(j){ %>
					<div class="square js-building-handler-square" data-xy="x<%= j %>y<%= i %>" data-x="<%= j %>" data-y="<%= i %>">&nbsp;</div>
					<% }, size.width); %>
				</div>
				<% }, size.height); %>
			</div>

			<div class="js-background-layer background-layer">
				<% util.fromTo(function(i){ %>
				<div class="square-line">
					<% util.fromTo(function(j){ %>
					<div class="square js-map-handler-square" data-xy="x<%= j %>y<%= i %>" data-x="<%= j %>" data-y="<%= i %>">&nbsp;</div>
					<% }, size.width); %>
				</div>
				<% }, size.height); %>
			</div>

		</div>

		<div class="buttons-wrapper">

			<div class="js-create-map-from-html">create map</div>
			<div class="js-eraser">erase</div>

			<hr class="clear"/>

			<% APP.map.buildingsTypes.forEach(function(building){ %>
			<div class="js-set-active-paint set-active-paint" data-layer="buildings" data-layer-type="build" data-type="<%= building %>"><%= building %></div>
			<% }); %>

			<hr class="clear"/>

			<% APP.units.info.unitList.forEach(function(unit){ %>
			<div class="js-set-active-paint set-active-paint" data-layer="units" data-layer-type="unit" data-type="<%= unit %>"><%= unit %></div>
			<% }); %>

			<hr class="clear"/>

			<% APP.map.terrainTypes.forEach(function(terrain){ %>
			<div class="js-set-active-paint set-active-paint" data-layer="background" data-layer-type="terrain" data-type="<%= terrain %>"><%= terrain %></div>
			<% }); %>

		</div>

	</div>

</script>

</body>
</html>